@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }



  .leftPanel span {
    font-size: 14px;
    border-radius: 50px;
    padding: 7px 18px;
    background-color: rgba(168, 168, 168, 0.174);
    /* White with 20% opacity */
    backdrop-filter: blur(10px);
    /* Blur effect */
    cursor: pointer;
  }

  .leftPanel .left_nav {
    padding: 9px 0px;
 
  }

  .scrollSection {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .showcase {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-size: cover;


  }

  /* .oneShowcase, .twoShowcase, .threeShowcase{ display: none;} */

  /* .bgImage{ }

.upperBoxes{ } */

  .sansita {
    font-family: "Sansita", sans-serif;
  }

  .compresCover {
    width: 400px;
    height: 500px;
    position: relative;

  }

  .compresDiv {
    overflow: hidden;
    position: absolute;
    width: 400px;
    height: 500px;
  }

  .compresImg {
    width: 400px;
    height: 500px;
    background-position: center center;
    position: absolute;
    right: 0;
  }

}