@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


@layer components {

  /* @screen sm {
   
    .revelCover {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .revelDiv {
      position: relative;
      width: 100%;
      height: 100%;
    }
    
    .revelImg {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .revelImg video {
      max-width: 100%;
      max-height: 100%;
    }
    

    } */

}




@layer utilities {

  body {
    cursor: none;
  }

  a,
  a:hover,
  button,
  .left_nav {
    cursor: none;
  }

  /* .custom-cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease, border 0.2s ease, background-color 0.2s ease;
    z-index: 9999;
  }
  
  .custom-cursor.cursor-hover {
    width: 40px;
    height: 40px;
    border: 2px solid #f1f1f1;
    background-color: transparent;
  }
  
  .custom-cursor.cursor-hover::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } */


  .custom-cursor {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-cursor.cursor-hover {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    background-color: transparent;
  }

  .custom-cursor .inner-dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
  }

  body a:hover .custom-cursor,
  body button:hover .custom-cursor,
  body .left_nav:hover .custom-cursor,
  body .menuButton:hover .custom-cursor {
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: 1px solid white;
  }

  body a:hover .custom-cursor .inner-dot,
  body button:hover .custom-cursor .inner-dot,
  body .left_nav:hover .custom-cursor .inner-dot,
  body .menuButton:hover .custom-cursor .inner-dot {
    background-color: white;
  }





  .text-balance {
    text-wrap: balance;
  }


  .openMenubtn {
    text-align: center;
    width: 75px;
    padding: 3px 10px;
    background-color: #28262F;
    backdrop-filter: blur(10px);
    color: #fff;
    font-size: 11px;
    border-radius: 50px;
    border: 1px solid rgba(168, 168, 168, 0.034);
    margin-left: 20px;
  }

  .openMenubtn:hover {
    border: 1px solid #fff;
    transition: border 0.3s ease;
  }

  .closeMenubtn span{ font-size: 10px;}
  .closeMenubtn {
    width: 75px;
    text-align: center;
    padding: 3px 10px;
    background-color: #e1e1e1;
    backdrop-filter: blur(10px);
    color: #000;
    font-size: 11px;
    border-radius: 50px;
    border: 1px solid rgba(168, 168, 168, 0.034);
    margin-left: 20px;
  }

  .closeMenubtn:hover {
    border: 1px solid #fff;
    transition: border 0.3s ease;
  }



  .schdule {
    padding: 12px 15px;
    border-radius: 8px;
    background-color: #FFE700;
    color: #000;
    font-weight: 600;
  }

  .leftPanel {
    height: 100vh;
  }

  .leftPanel a {
    font-size: 14px;
    border-radius: 50px;
    padding: 7px 18px;
    background-color: rgba(55, 50, 70, 0.703);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(168, 168, 168, 0.034);

  }

  .leftPanel a:hover {
    border: 1px solid #fff;
    transition: border 0.3s ease;
    background-color: rgba(52, 43, 76, 0.233);
  }



  .leftPanel .left_nav {
    padding: 9px 0px;

  }
/* nav{  mix-blend-mode: difference;} */

  .ShowCaseSection {
    position: relative;
    height: 100vh;
    width: 100%;
    clear: both;
  }

  .showcase {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-size: cover;

  }



  .sansita {
    font-family: "Sansita", sans-serif;
  }

  .compresCover {
    width: 400px;
    height: 500px;
    position: relative;

  }

  .compresDiv {
    overflow: hidden;
    position: absolute;
    width: 400px;
    height: 500px;
  }

  .compresImg {
    width: 400px;
    height: 500px;
    background-position: center center;
    position: absolute;
    right: 0;
  }


  .ScrollSection {
    font-family: "Sansita", sans-serif;
  }


  .bordr {
    border: 1px solid #CECECE;
  }


  .whtdo {
    font-family: "Archivo", sans-serif;
  }



  .revelCover {
    width: 100%;
    height: 100%;
    position: relative;
    right: 0;
  }

  .revelDiv {
    overflow: hidden;
    position: relative;
    width: 100%;
    bottom: 0;
  }

  .revelImg {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .revelImg img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .revelImg video {
    position: absolute;
    bottom: 0;
    right: 0;
  }


  .test {
    position: absolute;
    width: 30%;
    height: 80%;
    overflow: hidden;
  }



 

  .small {
    position: absolute;
    width: 30vw;
    height: 80vh;
    margin: auto;
    left: 38%;
    top: 10%;
    /* bottom: 10%;
    right: 35%; */
    overflow: hidden;
    transition: width 2s, height 2s;
    border-radius: 8px;
  }
  
  .big {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: -116%;
    top: -10%;
  }
  


  
 
  
  



}