@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {

  body {
    cursor: none;
  }

  a, a:hover, button, .left_nav {
    cursor: none;
  }

  .custom-cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease, border 0.2s ease, background-color 0.2s ease;
    z-index: 9999;
  }
  
  .custom-cursor.cursor-hover {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    background-color: transparent;
  }
  
  .custom-cursor.cursor-hover::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  



  .text-balance {
    text-wrap: balance;
  }


  .menuButton{ padding: 5px 20px;
    background-color: #28262F; 
    backdrop-filter: blur(10px);
    color: #fff;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid rgba(168, 168, 168, 0.034);
  }
  .menuButton:hover{border: 1px solid #fff; 
    transition:  border 0.3s ease; }

    .schdule{ padding: 12px 15px; border-radius: 8px; background-color: #FFE700; color: #000; font-weight: 600; }



  .leftPanel a {
    font-size: 14px;
    border-radius: 50px;
    padding: 7px 18px;
    background-color: rgba(55, 50, 70, 0.703); 
    backdrop-filter: blur(10px);
    border: 1px solid rgba(168, 168, 168, 0.034);
    
  }
  .leftPanel a:hover { border: 1px solid #fff; 
    transition:  border 0.3s ease;
    background-color: rgba(52, 43, 76, 0.233); 
  }



  .leftPanel .left_nav {
    padding: 9px 0px;
 
  }

  .scrollSection {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .showcase {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-size: cover;


  }

  /* .oneShowcase, .twoShowcase, .threeShowcase{ display: none;} */

  /* .bgImage{ }

.upperBoxes{ } */

  .sansita {
    font-family: "Sansita", sans-serif;
  }

  .compresCover {
    width: 400px;
    height: 500px;
    position: relative;

  }

  .compresDiv {
    overflow: hidden;
    position: absolute;
    width: 400px;
    height: 500px;
  }

  .compresImg {
    width: 400px;
    height: 500px;
    background-position: center center;
    position: absolute;
    right: 0;
  }

}